<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Funkcionalnosti</title>
</head>
<body>
	<h3>Kratek opis ideje</h3>
	<span>S pomočjo aplikacije se lahko dva uporabnika dogovorita za hitro izmenjavo ene ali več knjig.</span>
	<br />
	<h3>Nabor funkcionalnosti</h3>
	Aplikacija uporabnikom omogoča:
	<ul>
		<li>Objavo knjig, ki jih želijo izmenjati</li>
		<li>Iskanje knjig, ki jih ponujajo ostali uporabniki(iskalni algoritem upošteva geolokacijo, preference glede zvrsti itd.)</li>
		<li>Pogovor med dvema uporabnikoma glede podrobnosti izmenjave</li>
		<li>Splošni klepet(omejen glede na lokacijo)</li>
	</ul>
	<br />
	<h3>Diagram PU</h3>
	<img src="../Resources/UseCase" alt="Smiley face">
</body>
</html>